<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <context-param>
        <param-name>FilePath</param-name>
        <param-value>http://localhost:8080/image</param-value>
    </context-param>
    <context-param>
        <param-name>MoviesPath</param-name>
        <param-value>sss</param-value>
    </context-param>
    <servlet>
        <servlet-name>Configuration</servlet-name>
        <servlet-class>Configuration</servlet-class>
        <init-param>
        <param-name>File</param-name>
        <param-value>sssss</param-value>
    </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Configuration</servlet-name>
        <url-pattern>/Configuration</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
